/* ======================
 * Override existing tags 
 * ======================
 */


/* =========================
 * Override existing classes 
 * =========================
 */
 
#schoolTab .button {
	width:100%;
}

/* =======================
 * Override exisiting ID's
 * =======================
 */
 
#blackboard {
	margin-left:200px;
}
 
#scene_wrapper {
	height:600px;
}

#scene_trigger {
	margin-top:15px;
}

#our-story > a:hover > img {
	content:url('../img/our-story-a.jpg');
}

#our-people > a:hover > img {
	content:url('../img/our-people-a.jpg');
}

#our-blog > a:hover > img {
	content:url('../img/our-blog-a.jpg');
}

#our-approach > a:hover > img {
	content:url('../img/our-approach-a.jpg');
}

#our-partners > a:hover > img {
	content:url('../img/our-partners-a.jpg');
}

#our-financials > a:hover > img {
	content:url('../img/our-financials-a.jpg');
}
